@use './variables/' as *;
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.5em;
}

body {
	display: block;
	min-height: 100vh;
	margin: 0;
	text-rendering: optimizeSpeed;
}

img,
picture {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}

strong {
	font-weight: 700;
}

a {
	color: hsl($color-primary, $color-sat, $color-neutral);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.hidden,
.screen-readers {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.btn {
	display: inline-block;
	padding: 0.25em 1.5em;
	background-color: hsl($color-secondary, $color-sat, $color-neutral);
	color: $color-white;
	font-family: $font-secondary;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border: 1px solid hsl($color-secondary, $color-sat, $color-neutral);
	border-radius: 2em;
	box-shadow: 0 0.25em 0.25em $color-shadow;
	cursor: pointer;

	&:hover {
		color: hsl($color-secondary, $color-sat, $color-neutral);
		background-color: transparent;
		border: 1px solid hsl($color-secondary, $color-sat, $color-neutral);
		box-shadow: 0 0.333em 0.333em $color-shadow;
	}
	&:active {
		box-shadow: inset 0 0.1em 0.1em $color-shadow;
	}
}

.highlight {
	font-size: 1.2em;
	font-weight: bold;
	color: hsl($color-accent, $color-sat, $color-dark);
}

.large-only {
	display: none;

	@media screen and(min-width: $break-small-desktop) {
		display: inline-block;
	}
}

.container {
	position: relative;
	padding-block: 0;
	padding-inline: clamp(2vw, 5%, 10vw);
	font-size: clamp(1rem, 2vw, 1.5rem);
	line-height: 1.5em;
	overflow: hidden;

	@media screen and (min-width: 750px) {
	}
	@media screen and (min-width: 1000px) {
	}
	@media screen and (min-width: 1200px) {
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block: 2em;
	font-family: $font-secondary;
	font-size: 2em;
	line-height: 1.5em;

	h2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-block: 0.2em;
	}

	.heading-cap {
		width: 130px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&::before,
		&::after {
			content: '';
			vertical-align: middle;
			height: 4px;
			border-top: 1px solid hsl($color-secondary, $color-sat, $color-neutral);
			border-bottom: 1px solid hsl($color-secondary, $color-sat, $color-neutral);
			width: 40px;
			display: inline-block;
		}
		svg {
			width: 30px;

			g {
				fill: hsl($color-secondary, $color-sat, $color-neutral);
			}
		}
	}
}

.card-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
