@use '../abstracts/' as *;

// Base General Styling
body {
	font-size: var(--fs-body);
	font-family: var(--ff-body);
	color: hsl(var(--clr-neutral-900));
	min-height: 100vh;
}

a {
	color: currentColor;
	text-decoration: none;
}

.highlight {
	font-size: 1.2em;
	font-weight: bold;
	color: hsl(var(--clr-accent-500));
}

