@use '../src/scss/variables/' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-family: 'Archivo', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

body {
	display: block;
	min-height: 100vh;
	margin: 0;
	text-rendering: optimizeSpeed;
}

img,
picture {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

strong {
	font-weight: 900;
}

.screen-readers {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* =================================================================  */
.container {
	.header {
		display: grid;
		grid-template-areas:
			'logo  logo'
			'meniu  cautare';
		position: sticky;
		top: 0;
		min-height: calc(100px + 3em);
		background: hsl($color-primary, $color-sat, $color-neutral);
		box-shadow: 0 1em 1em $color-shadow;

		@media screen and (min-width: $break-small-desktop) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background: $color-white;
			padding-inline: 2rem;
			min-height: 100%;
		}

		.logo {
			grid-area: logo;
			align-self: start;
			justify-self: center;
			display: flex;
			justify-content: center;
			background: $color-white;
			width: 100%;
			padding-block: 1em;
			padding-inline: 2em;

			@media screen and (min-width: $break-small-desktop) {
				display: block;
				align-self: center;
			}

			.logo-image {
				@media screen and (min-width: $break-small-desktop) {
					max-width: 220px;
				}
			}
		}

		.trigger-button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.5rem;
			height: 1.5rem;
			padding: 0;
			margin: 0;
			background: transparent;
			border: none;
			appearance: none;

			.trigger-image {
				display: block;
				width: 2rem;
				height: 2rem;
			}
		}

		.main-menu-container {
			grid-area: meniu;
			padding-block: 1rem;

			@media screen and (min-width: $break-small-desktop) {
				grid-column: 4/5;
			}

			.menu-toggle {
				display: none;

				&:checked ~ .main-menu {
					transform: scale(1, 1);
				}
				&:checked ~ .main-menu .main-menu-list .main-menu-item .main-menu-link {
					opacity: 1;
					transition: opacity 0.25s ease-in-out 0.25s;
				}
				&:checked + .menu-trigger span {
					transform: translateX(-50px);
					background: transparent;
				}
				&:checked + .menu-trigger span::before {
					transform: rotate(45deg) translate(40px, -40px);
				}
				&:checked + .menu-trigger span::after {
					transform: rotate(-45deg) translate(40px, 40px);
				}
			}

			.menu-trigger {
				justify-self: start;
				margin-left: 1em;
				height: 100%;
				display: flex;
				align-items: center;
				transition: all 0.5s ease-in-out;
				cursor: pointer;

				@media screen and (min-width: $break-small-desktop) {
					display: none;
				}

				span,
				span::before,
				span::after {
					display: block;
					background-color: $color-white;
					height: 2px;
					width: 2em;
					border-radius: 2px;
					position: relative;
					transition: all 0.5s ease-in-out;

					@media screen and (min-width: $break-small-desktop) {
						display: none;
					}
				}
				span::before,
				span::after {
					content: '';
					position: absolute;
				}

				span::before {
					transform: translateY(-8px);
				}
				span::after {
					transform: translateY(8px);
				}
			}

			.main-menu {
				position: absolute;
				text-align: left;
				top: 100%;
				left: 0;
				padding-right: 1em;
				background-color: $color-white;
				transform: scale(0, 1);
				transform-origin: left;
				transition: transform 0.4s ease-in-out;
				font-family: $font-secondary;
				background-color: $color-white;
				box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
				overflow-y: auto;

				@media screen and (min-width: $break-small-desktop) {
					all: unset;
					display: block;
					top: 0;
				}

				.main-menu-list {
					margin: 0;
					padding: 0;
					list-style: none;

					@media screen and (min-width: $break-small-desktop) {
						display: flex;
					}

					.main-menu-item {
						flex-wrap: wrap;
						position: relative;
						margin-bottom: 0.5em;
						margin-left: 1em;
						padding: 0.5em 0;

						@media screen and (min-width: $break-small-desktop) {
							margin-left: 0.5em;
							padding-right: 1.25em;
						}
						@media screen and (min-width: $break-large-desktop) {
							margin-left: 2em;
						}

						&:not(:last-of-type) {
							border-bottom: 1px solid $color-grey-light;

							@media screen and (min-width: $break-small-desktop) {
								border-bottom: none;
							}
						}

						.main-menu-link {
							flex: 1;
							color: $color-grey-dark;
							font-weight: 400;
							font-size: 1.2em;
							text-decoration: none;
							transition: opacity 0.15s ease-in-out;

							@media screen and (min-width: $break-small-desktop) {
								font-weight: 700;
							}

							&:hover {
								color: hsl($color-secondary, $color-sat, $color-neutral);
								text-decoration: none;
								text-shadow: 2px 2px 1px $color-shadow;
								outline: none;
							}
						}

						.expand {
							display: flex;
							align-items: center;
							position: absolute;
							top: 0.75em;
							right: 0;
							transition: rotate 0.3s ease-in-out;
						}

						.main-menu-sublist {
							display: block;
							height: 0;
							overflow: hidden;

							@media screen and (min-width: $break-small-desktop) {
								position: absolute;
								top: 100%;
							}

							&.opened {
								height: 100%;
							}
							.main-menu-subitem {
								display: block;

								.main-menu-sublink {
									display: block;
									padding: 0.5em 1em;
									color: $color-grey-dark;
									background: transparent;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}

		.search-container {
			grid-area: cautare;
			justify-self: end;
			align-self: center;
			margin-right: 1em;

			.search-toggle {
				display: none;
				&:checked ~ .search-form {
					transform: scale(1, 1);
				}
			}

			.search-trigger {
				.search-trigger-image {
					path {
						fill: $color-white;
					}
				}
			}

			.search-form {
				position: absolute;
				right: 0;
				top: 100%;
				width: clamp(14rem, 50vw, 20rem);
				transform: scale(1, 0);
				transform-origin: top;
				transition: transform 0.4s ease-in-out;
				font-family: $font-secondary;
				background-color: transparent;
				// box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);

				.fieldset {
					display: block;
					position: relative;
					padding: 0;
					border: none;
					background: transparent;

					legend {
					}
					.label {
						display: block;

						&.search-label {
							.search-label-text {
							}

							.input {
								display: block;
								padding: 0.25rem 0.5rem;
								padding-right: 3.5em;
								height: 2.375rem;
								width: 100%;
								line-height: 2.375rem;
								border-radius: 1em;
								border: 1px solid $color-grey-light;
								&.seach-input {
								}
							}
						}
					}
					.submit-button {
						&.search-submit {
							display: block;
							position: absolute;
							right: 0;
							top: 0;
							bottom: 0;
							padding-right: 1em;
							border-top-right-radius: 1em;
							border-bottom-right-radius: 1em;
							border: none;
							background: transparent;

							.search-submit-image {
								display: block;
								width: 1.75rem;
								height: 1.75rem;
							}
						}
					}
				}
			}
		}
	}
	.main {
	}
	.footer {
	}
}
/* =================================================================  */

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
