@use '../src/scss/variables/' as *;
@use '../src/scss/components/' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-family: 'Archivo', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

body {
	display: block;
	min-height: 100vh;
	margin: 0;
	text-rendering: optimizeSpeed;
}

img,
picture {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

strong {
	font-weight: 900;
}

.screen-readers {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.btn {
	display: inline-block;
	padding: 0.25em 1.5em;
	background-color: hsl($color-secondary, $color-sat, $color-neutral);
	color: $color-white;
	font-family: $font-secondary;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border: 1px solid hsl($color-secondary, $color-sat, $color-neutral);
	border-radius: 2em;
	box-shadow: 0 0.25em 0.25em $color-shadow;
	cursor: pointer;

	&:hover {
		color: hsl($color-secondary, $color-sat, $color-neutral);
		background-color: transparent;
		border: 1px solid hsl($color-secondary, $color-sat, $color-neutral);
		box-shadow: 0 0.333em 0.333em $color-shadow;
	}
	&:active {
		box-shadow: inset 0 0.1em 0.1em $color-shadow;
	}
}

.highlight {
	font-size: 1.2em;
	font-weight: bold;
	color: hsl($color-accent, $color-sat, $color-dark);
}

.section-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block: 2em;
	font-family: $font-secondary;
	font-size: 2em;
	line-height: 1.5em;

	h2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-block: 0.2em;
	}

	.heading-cap {
		width: 130px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&::before,
		&::after {
			content: '';
			vertical-align: middle;
			height: 4px;
			border-top: 1px solid hsl($color-secondary, $color-sat, $color-neutral);
			border-bottom: 1px solid hsl($color-secondary, $color-sat, $color-neutral);
			width: 40px;
			display: inline-block;
		}
		svg {
			width: 30px;

			g {
				fill: hsl($color-secondary, $color-sat, $color-neutral);
			}
		}
	}
}

.card-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;

	@media screen and (min-width: $break-tablet) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

/* =================================================================  */
.container {
	section {
		margin-block: 1rem;
	}
	/* ========================HEADER STYLES=========================  */
	.header {
		display: grid;
		grid-template-areas:
			'logo  logo'
			'meniu  cautare';
		position: sticky;
		z-index: 999;
		top: 0;
		background: hsl($color-primary, $color-sat, $color-neutral);
		box-shadow: 0 1px 1em $color-shadow;

		@media screen and (min-width: $break-small-desktop) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background: $color-white;
			padding-inline: 2rem;
		}

		.logo {
			grid-area: logo;
			display: flex;
			align-self: start;
			justify-self: center;
			justify-content: center;
			background: $color-white;
			width: 100%;
			padding-block: 1em;
			padding-inline: 2em;

			@media screen and (min-width: $break-small-desktop) {
				display: block;
			}

			.logo-image {
				@media screen and (min-width: $break-small-desktop) {
					max-width: 220px;
				}
			}
		}

		.trigger-button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.5rem;
			height: 1.5rem;
			padding: 0;
			margin: 0;
			background: transparent;
			border: none;
			appearance: none;

			.trigger-image {
				display: block;
				width: 2rem;
				height: 2rem;
			}
		}

		.main-menu-container {
			grid-area: meniu;
			padding-block: 1em;

			@media screen and (min-width: $break-small-desktop) {
				display: flex;
				align-items: center;
				align-self: stretch;
				padding: 0;
			}

			.menu-toggle {
				display: none;

				&:checked ~ .main-menu {
					transform: scale(1, 1);
				}
				&:checked ~ .main-menu .main-menu-list .main-menu-item .main-menu-link {
					opacity: 1;
					transition: opacity 0.25s ease-in-out 0.25s;
				}
				&:checked + .menu-trigger span {
					transform: translateX(-50px);
					background: transparent;
				}
				&:checked + .menu-trigger span::before {
					transform: rotate(45deg) translate(40px, -40px);
				}
				&:checked + .menu-trigger span::after {
					transform: rotate(-45deg) translate(40px, 40px);
				}
			}

			.menu-trigger {
				justify-self: start;
				margin-left: 1em;
				height: 100%;
				display: flex;
				align-items: center;
				transition: all 0.5s ease-in-out;
				cursor: pointer;

				@media screen and (min-width: $break-small-desktop) {
					display: none;
				}

				span,
				span::before,
				span::after {
					display: block;
					background-color: $color-white;
					height: 2px;
					width: 2em;
					border-radius: 2px;
					position: relative;
					transition: all 0.5s ease-in-out;

					@media screen and (min-width: $break-small-desktop) {
						display: none;
					}
				}
				span::before,
				span::after {
					content: '';
					position: absolute;
				}

				span::before {
					transform: translateY(-8px);
				}
				span::after {
					transform: translateY(8px);
				}
			}

			.main-menu {
				position: absolute;
				text-align: left;
				top: 100%;
				left: 0;
				padding-right: 1em;
				background-color: $color-white;
				transform: scale(0, 1);
				transform-origin: left;
				transition: transform 0.4s ease-in-out;
				font-family: $font-secondary;
				background-color: $color-white;
				box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
				overflow-y: auto;

				@media screen and (min-width: $break-small-desktop) {
					all: unset;
					display: flex;
					align-items: center;
					height: 100%;
				}

				.main-menu-list {
					margin: 0;
					padding: 0;
					list-style: none;

					@media screen and (min-width: $break-small-desktop) {
						display: flex;
						align-items: center;
						height: 100%;
					}

					.main-menu-item {
						justify-self: flex-start;
						flex-wrap: nowrap;
						position: relative;
						margin-bottom: 0.5em;
						margin-left: 1em;
						padding: 0.5em 0;

						@media screen and (min-width: $break-small-desktop) {
							display: flex;
							align-items: center;
							margin-left: 0.5em;
							padding-right: 1.25em;
							height: 100%;
						}

						@media screen and (min-width: $break-large-desktop) {
							margin-left: 2em;
						}

						&.has-children {
							.expand {
								display: flex;
								align-items: center;
								position: absolute;
								right: 0;
								font-size: 1.25rem;
								color: currentColor;

								@media screen and (min-width: $break-small-desktop) {
									bottom: 1.5rem;
								}
							}
						}

						&:not(:last-of-type) {
							border-bottom: 1px solid $color-grey-light;

							@media screen and (min-width: $break-small-desktop) {
								border-bottom: none;
							}
						}

						.main-menu-link {
							display: flex;
							flex-direction: column;
							font-weight: 400;
							font-size: 1.2em;
							text-decoration: none;
							transition: opacity 0.15s ease-in-out;

							@media screen and (min-width: $break-small-desktop) {
								align-items: center;
								justify-content: space-evenly;
								font-weight: 700;
							}

							&::after {
								@media screen and (min-width: $break-small-desktop) {
									content: '';
									position: absolute;
									left: 0;
									bottom: 0%;
									width: 100%;
									height: 2px;
									background: currentColor;

									transform: scaleX(0);
									transform-origin: right;
									transition: transform 0.25s ease-in;
								}
							}

							&:hover::after {
								@media screen and (min-width: $break-small-desktop) {
									transform: scaleX(1);
									transform-origin: left;
								}
							}

							&.acasa {
								color: hsl($color-primary, $color-sat, $color-neutral);
							}
							&.prezentare {
								color: hsl($color-secondary, $color-sat, $color-neutral);
							}
							&.transparenta,
							&.transparenta + * {
								color: hsl($color-tertiary, $color-sat, $color-neutral);
							}
							&.proiecte {
								color: hsl($color-accent, 50%, $color-neutral);
							}
							&.noutati {
								color: hsl(317, 50%, $color-neutral);
							}
							&.contact {
								color: hsl(184, 44%, $color-neutral);
							}

							.up-icon {
								display: none;

								@media screen and (min-width: $break-small-desktop) {
									display: block;
								}
							}

							&:hover {
								text-decoration: none;
								outline: none;
							}

							i {
								font-size: 1.5em;
							}
						}

						.main-menu-sublist {
							display: block;
							height: 0;
							overflow: hidden;

							@media screen and (min-width: $break-small-desktop) {
								position: absolute;
								left: 0;
								top: 100%;
							}

							&.opened {
								height: 100%;
								color: currentColor;

								@media screen and (min-width: $break-small-desktop) {
									position: absolute;
									left: 0;
									top: 105%;
									padding-block: 2em;
									padding-right: 3em;
									padding-left: 0;
									margin-left: -1em;
									width: max-content;
									height: fit-content;
									overflow-y: auto;
									border-radius: 0.5em;
									border-width: 2px;
									border-style: solid;
									border-color: currentColor;
									// border-color: hsl($color-tertiary, $color-sat, $color-neutral);
								}
							}
							.main-menu-subitem {
								display: block;

								.main-menu-sublink {
									display: block;
									padding: 0.5em 1em;
									color: $color-grey-dark;
									background: transparent;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}

		.search-container {
			grid-area: cautare;
			justify-self: end;
			align-self: center;
			margin-right: 1em;

			.search-toggle {
				display: none;
				&:checked ~ .search-form {
					transform: scale(1, 1);
				}
			}

			.search-trigger {
				.search-trigger-image {
					path {
						fill: $color-white;
					}
				}
			}

			.search-form {
				position: absolute;
				right: 0;
				top: 100%;
				width: clamp(14rem, 50vw, 20rem);
				transform: scale(1, 0);
				transform-origin: top;
				transition: transform 0.4s ease-in-out;
				font-family: $font-secondary;
				background-color: transparent;
				// box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);

				.fieldset {
					display: block;
					position: relative;
					padding: 0;
					border: none;
					background: transparent;

					legend {
					}
					.label {
						display: block;

						&.search-label {
							.search-label-text {
							}

							.input {
								display: block;
								padding: 0.25rem 0.5rem;
								padding-right: 3.5em;
								height: 2.375rem;
								width: 100%;
								line-height: 2.375rem;
								border-radius: 1em;
								border: 1px solid $color-grey-light;
								&.seach-input {
								}
							}
						}
					}
					.submit-button {
						&.search-submit {
							display: block;
							position: absolute;
							right: 0;
							top: 0;
							bottom: 0;
							padding-right: 1em;
							border-top-right-radius: 1em;
							border-bottom-right-radius: 1em;
							border: none;
							background: transparent;

							.search-submit-image {
								display: block;
								width: 1.75rem;
								height: 1.75rem;
							}
						}
					}
				}
			}
		}
	}
	/* ========================MAIN STYLES============================ */
	.main {
		.hero {
			display: grid;
			place-items: center;
			position: relative;
			min-height: 65vh;

			margin-block: 0;
			background: linear-gradient(
					hsla($color-accent, $color-sat, $color-dark, 0.6),
					hsla($color-accent, $color-sat, $color-dark, 0.6)
				),
				url('../../../assets/images/background-pattern.jpg') left top repeat;

			@media screen and (min-width: $break-small-desktop) {
				display: block;
				// grid-template-columns: 54% 45%;
				// gap: 1%;
			}

			.hero-floating {
				display: none;

				@media screen and (min-width: $break-small-desktop) {
					display: block;
					position: absolute;
					left: 2%;
					bottom: -5%;
					// place-sel: flex-end;
				}

				.hero-floating-image {
				}
			}

			.hero-content {
				display: grid;
				place-items: center;
				position: relative;
				background: url('../../../assets/images/cloud.png') center center no-repeat;
				background-size: contain;
				padding: 5em 3em;
				text-align: center;

				@media screen and (min-width: $break-tablet) {
					text-align: left;
				}

				@media screen and (min-width: $break-small-desktop) {
					position: absolute;
					top: 2%;
					right: 5%;
					margin-top: 3rem;
					padding: 3rem 2rem;
					width: clamp(30rem, 50vw, 50rem);
					z-index: 10;
				}
				.oscillation {
					display: none;

					@media screen and (min-width: $break-small-desktop) {
						display: block;
						position: absolute;
						top: -30%;
						right: 10%;
						transform-origin: 50% 0;
						animation: oscillation 4s ease-in-out alternate infinite;
					}

					.oscillation-image {
					}
				}

				.hero-title {
					margin-top: 2em;
					margin-bottom: 0;
					font-size: clamp(1rem, -0.875rem + 8.333333vw, 2.5rem);
					font-family: $font-primary;
					line-height: 1.5em;

					@media screen and (min-width: $break-small-desktop) {
						font-size: 1.5rem;
					}

					span {
						display: block;
					}
					.hero-title-first-line {
						color: hsl($color-primary, $color-sat, $color-neutral);
					}
					.hero-title-second-line {
						color: hsl($color-tertiary, $color-sat, $color-neutral);
					}
				}
				.hero-text {
					font-size: clamp(1rem, -0.875rem + 4.333333vw, 1.5rem);
					font-weight: bold;

					@media screen and (min-width: $break-small-desktop) {
						font-size: 1.2em;
					}
				}
			}
		}

		.contact-cta {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin-block: 0;
			padding-block: 2em;
			background: url('../../../assets/images/white-texture.jpg') top center repeat;
			z-index: 100;

			&-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				font-size: 1em;
				text-align: center;

				.contactCta-btn:hover {
					background-color: $color-white;
				}

				@media screen and (min-width: 450px) {
					font-size: 1.3em;
				}
				@media screen and (min-width: 520px) {
					font-size: 1.5em;
				}
				@media screen and (min-width: $break-tablet) {
					flex-direction: row;
					justify-content: space-evenly;
					padding-inline: 3em;
					font-size: 1.3em;
				}
				@media screen and (min-width: $break-large-desktop) {
					$font-size: 2em;
				}

				a {
					display: block;

					@media screen and (min-width: 400px) {
						display: inline;
					}
				}
			}
		}

		.noutati {
			&-list {
				.noutati-item {
					display: flex;
					flex-direction: column;
					gap: 0.5em;
					.noutati-thumbnail {
						border-radius: 1em;
						overflow: hidden;
						box-shadow: 0 0.1em 0.5em $color-shadow;
						.noutati-image {
						}
					}
					.noutati-detalii {
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						gap: 0.5em;

						.noutati-date {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							width: 2.5em;
							height: 2.5em;
							padding: 0.5em;
							background-color: hsl($color-secondary, $color-sat, $color-neutral);
							color: $color-white;
							font-weight: bold;

							.data-zi,
							.data-luna {
								text-align: center;
							}
						}
						.noutati-description {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							& > * {
								margin: 0;
							}
							.noutati-article-title {
								justify-content: flex-start;
							}
							.noutati-info {
								justify-content: flex-end;
								font-size: 0.8em;

								&-autor {
								}
								&-categorii {
								}
							}
						}
					}
				}
			}
		}

		.prezentare {
			background: url('../../../assets/images/webp/sky.webp') top left no-repeat;
			background-size: cover;
			padding-top: 1rem;
		}
	}
	.footer {
	}
}
/* =================================================================  */

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
