@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap");

:root {
	--clr-yellow: #f3eed9;
	--clr-brown: #824936;
	--clr-dark: #222c2a;

	--ff-playfair: "Playfair Display", serif;
	--ff-roboto: "Roboto", sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
}

section {
	padding: 4em 0;
}

h1,
h2 {
	font-family: var(--ff-playfair);
}

p {
	font-family: var(--ff-roboto);
}

.container {
	max-width: 1128px;
	margin: 0 auto;
	padding: 0 2em;
}
.row {
	display: flex;
}

.hero {
	min-height: 660px;
	background-color: var(--clr-yellow);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero .title {
	font-size: 3.75rem;
	color: var(--clr-brown);
}
.hero .subtitle {
	font-size: 1.125rem;
	font-family: var(--ff-roboto);
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.columned .section-title {
	text-align: center;
	color: var(--clr-brown);
	margin-bottom: 1em;
	font-size: 2.25rem;
}

.imaged {
	color: #fff;
}

.imaged .section-text,
.imaged .section-image {
	width: 45%;
}

.section-image img {
	width: 100%;
}

.imaged .row {
	justify-content: space-between;
}

.imaged .section-title {
	color: var(--clr-yellow);
	margin-bottom: 1em;
}

.dark {
	background-color: var(--clr-dark);
}
.brown {
	background-color: var(--clr-brown);
}
.brown .row {
	flex-direction: row-reverse;
}
