$clr-primary: hsl(176, 50%, 47%);
$clr-primary-dark: hsl(176, 72%, 28%);
$clr-black: hsl(0, 0%, 0%);
$clr-dark-grey: hsl(0, 0%, 48%);
$clr-light-grey: hsl(0, 0%, 90%);

$ff-commissioner: "Commissioner", sans-serif;
