.footer {
	background: $clr-dark-moderate-cyan;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8rem 3rem;
	width: 100vw;

	.footer-image {
		margin-bottom: 4rem;
		& path {
			fill: $clr-dark-desaturated-cyan;
		}
	}

	.footer-menu {
		width: 90%;
		max-width: 300px;
		margin-bottom: 10rem;
		.menu-list {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			.menu-item {
				.menu-link {
					text-decoration: none;
					color: $clr-dark-desaturated-cyan;
					font-weight: 400;
					&:hover {
						color: white;
					}
				}
			}
		}
	}

	.footer-social-media {
		display: flex;
		justify-content: space-between;
		width: 50%;
		max-width: 200px;

		& svg:hover path {
			fill: white;
		}
	}
}
