.gallery {
	display: flex;
	flex-wrap: wrap;
	.gallery-image {
		width: 50%;
		& > * {
			display: block;
			width: 100%;
			height: auto;
			flex: 50%;
			@media screen and (min-width: 780px) {
				flex: 25%;
			}
		}
		@media screen and (min-width: 780px) {
			width: 25%;
		}
	}

	@media screen and (min-width: 780px) {
		flex-wrap: nowrap;
	}
}
