*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	font-family: $ff-barlow;
	min-height: 100vh;
	width: 100vw;
	max-width: 100%;
}
.container {
	position: relative;
}

.btn {
	background: $clr-yellow;
	font-family: $ff-fraunces;
	text-transform: uppercase;
	border-radius: 2em;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}
