.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	display: block;

	.navbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;

		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 3.2rem 2.5rem;

		@media screen and (min-width: 500px) {
			flex-wrap: nowrap;
			padding: 3.2rem 6rem;
		}

		.header-logo {
			width: 50%;
		}

		.toggle-menu {
			@media screen and (min-width: 500px) {
				width: 0%;
			}
		}
		.menu-list {
			background: white;
			align-self: flex-end;
			flex-grow: 1;
			width: 80%;
			text-align: center;
			position: relative;
			margin-top: 2rem;
			padding: 3rem;
			transition: all 0.3s ease-in-out;

			@media screen and (min-width: 500px) {
				margin: 0;
				padding: 0;
				background: none;
			}

			&::before {
				content: "";
				position: absolute;
				right: 0;
				top: -15px;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-right: 20px solid white;

				@media screen and (min-width: 500px) {
					display: none;
				}
			}

			.menu-items {
				list-style: none;
				@media screen and (min-width: 500px) {
					display: flex;
					justify-content: flex-end;
				}
			}
			.menu-item {
				padding: 1em 0;
				.menu-link {
					text-decoration: none;
					color: $clr-grayish-blue;
					font-weight: 400;
					padding: 1em 1.5em;
					@media screen and (min-width: 500px) {
						color: white;
					}
				}
				.btn {
					color: $clr-very-dark-desaturated-blue;
					font-weight: 600;
					@media screen and (min-width: 500px) {
						background: white;
					}
					&:hover {
						@media screen and (min-width: 500px) {
							color: white;
							background: hsla(0, 0%, 100%, 0.3);
							background-blend-mode: lighten;
						}
					}
				}
			}
		}
	}
}
