.hero {
	background: url("../images/mobile/image-header.jpg");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	padding: 15rem 0;

	@media screen and (min-width: 500px) {
		background: url("../images/desktop/image-header.jpg");

		background-position: bottom center;
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 40rem;
	}

	.hero-title {
		font-family: $ff-fraunces;
		font-size: 4rem;
		font-weight: 900;
		text-transform: uppercase;
		color: white;
		text-align: center;
		letter-spacing: 7px;
	}
}
