.testimonials {
	padding: 5rem 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;

	.testimonials-header {
		font-family: $ff-fraunces;
		color: $clr-grayish-blue;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 1.5rem;
		font-weight: 900;
	}

	.testimonial-group {
		display: flex;
		flex-direction: column;
		gap: 6rem;
		.testimonial-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			gap: 3rem;
			padding: 0 2rem;
			max-width: 450px;

			.testimonial-image {
				border-radius: 50%;
				width: 7.5rem;
			}
			.testimonial-text {
				font-size: 1.5rem;
				text-align: center;
				line-height: 2em;
				color: $clr-dark-grayish-blue;
			}
			.person-data {
				text-align: center;
				.testimonial-name {
					font-family: $ff-fraunces;
					font-weight: 900;
					margin-bottom: 1.2rem;
				}
				.testimonial-occupation {
					font-size: 1.2rem;
					color: $clr-grayish-blue;
				}
			}
		}

		@media screen and (min-width: 780px) {
			flex-direction: row;
		}
	}
}
