$color-primary: 199;
$color-secondary: 48;
$color-tertiary: 19;
$color-accent: 75;

$color-sat: 100%;

$color-dark: 30%;
$color-neutral: 50%;
$color-light: 80%;

$color-white: hsl(0, 0%, 100%);
$color-grey-light: hsl(0, 0%, 80%);
$color-grey-neutral: hsl(0, 0%, 50%);
$color-grey-dark: hsl(0, 0%, 30%);
$color-shadow: hsla(0, 0%, 0%, 0.3);
