@use '../abstracts/' as *;
.primary-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: hsl(var(--clr-primary-400));
	color: hsl(var(--clr-neutral-100));
	@include shadow();

	@include mq(tablet) {
		background-color: hsl(var(--clr-neutral-100));
	}
}
