@use '../abstracts/' as *;

.nav-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	@include mq(tablet, max) {
		justify-content: space-between;
	}

	.mobile-nav-toggle {
		display: none;

		@include mq(tablet, max) {
			display: block;
			width: 3em;
			height: 27px;
			@include btn-reset();
		}
		.mobile-menu-trigger {
			display: block;
			position: absolute;
			width: 2em;
			height: 3px;
			border-radius: 2px;
			background-color: var(--clr-neutral-100);

			&::after,
			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 2em;
				height: 3px;
				border-radius: 2px;
				background-color: var(--clr-neutral-100);
			}

			&::before {
				transform: translateY(-9px);
			}
			&::after {
				transform: translateY(9px);
			}
		}
	}

	.main-menu {
		width: 95%;

		@include mq(tablet, max) {
			position: absolute;
			text-align: left;
			top: 100%;
			left: 0;
			padding: var(--size-400);
			background-color: var(--clr-neutral-100);
			transform: scale(0, 1);
			transform-origin: left;
			transition: all 0.4s ease-in-out;
			font-family: var(--ff-secondary);
			overflow-y: auto;
			border-radius: 0 0 0.5em 0;
			@include shadow;

			&[data-visible] {
				transform: scale(1, 1);
			}
		}
		.main-menu-list {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include mq(tablet, max) {
				flex-direction: column;
				align-items: stretch;
				width: 100%;
			}

			.main-menu-item {
				padding: var(--size-400) var(--size-200);
				position: relative;

				@include mq(tablet, max) {
					padding-block: var(--size-200);

					&:not(:last-of-type) {
						border-bottom: 1px solid var(--clr-neutral-300);
					}

					&[data-parent] a {
						display: flex;
						justify-content: space-between;
						align-items: center;

						& .expand {
							padding-inline-start: var(--size-900);
						}
					}
				}

				.expand {
					padding-inline-start: var(--size-300);
				}

				.main-menu-link {
					--clr-avengers: hsl(360, 66%, 53%);
					--clr-ironman: hsl(50, 97%, 66%);
					--clr-flash: hsl(5, 65%, 50%);
					--clr-spiderman: hsl(0, 81%, 38%);
					--clr-superman: hsl(350, 100%, 44%);
					font-size: var(--fs-400);
					font-weight: var(--fw-bold);
					display: flex;
					align-items: center;
					&::before {
						content: '';
						display: inline-block;
						margin-right: var(--size-100);
						width: 1.5rem;
						height: 1.5rem;
						background-size: cover;
					}

					@include mq(tablet, max) {
						font-size: var(--fs-500);
						& i:not(.expand) {
							display: none;
						}
					}

					@include mq(laptop, min) {
						font-size: var(--fs-500);
					}

					&.acasa {
						color: var(--clr-avengers);
						&::before {
							background-image: url('../assets/images/svg/avengers/avengers.svg');
						}
					}

					&.prezentare {
						color: var(--clr-ironman);
						&::before {
							background-image: url('../assets/images/svg/avengers/ironman.svg');
						}
					}
					&.transparenta {
						color: var(--clr-superman);
						&::before {
							background-image: url('../assets/images/svg/avengers/superman.svg');
						}
					}
					&.proiecte {
						color: var(--clr-spiderman);
						&::before {
							background-image: url('../assets/images/svg/avengers/spiderman.svg');
						}
					}
					&.noutati {
						color: var(--clr-flash);
						&::before {
							background-image: url('../assets/images/svg/avengers/flash.svg');
						}
					}
					&.contact {
						color: var(--clr-neutral-900);
						&::before {
							background-image: url('../assets/images/svg/avengers/jl.svg');
						}
					}
				}

				.main-menu-sublist {
					position: absolute;
					top: 100%;
					left: -30%;
					overflow: hidden;
					max-height: 0;
					transform: scale(1, 0);
					transform-origin: top;
					transition: all 0.5s ease-in-out;

					@include mq(tablet, max) {
						position: unset;
						border: none;
					}

					&[data-visible] {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: var(--size-600);
						max-height: 100vh;
						transform: scale(1, 1);
						padding: var(--size-300) var(--size-900) var(--size-300) var(--size-300);
						width: max-content;
						color: inherit;
						border-left: 0.3em solid currentColor;
						background-color: var(--clr-neutral-100);
						@include shadow;

						@include mq(tablet, max) {
							display: block;
							border: none;
							box-shadow: none;
							padding-inline-start: var(--size-500);
							margin-block: var(--size-100);
						}
					}

					.main-menu-subitem {
						@include mq(tablet, max) {
							padding-block: var(--size-100);
						}
						.main-menu-sublink {
						}
					}
				}
			}
		}
	}
}
