*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #000000;
	font-size: 62.5%; /*10px*/
	line-height: 2.4em; /*24px*/
}

body {
	display: block;
	min-height: 100vh;
	margin: 0;
	text-rendering: optimizeSpeed;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
select,
textarea,
button {
	font: inherit;
}

strong {
	font-weight: 900;
}

.container {
	background: #fff;
	padding: 1.6rem;
	font-size: clamp(1.6rem, 2vw, 3.2rem);
	line-height: 1.5em;
	@media (min-width: 300px) {
		margin: 2vh;
		padding: 2rem;
	}
	@media (min-width: 500px) {
		margin: 7vh;
		padding: 3rem;
	}
}
