@use '../abstracts/' as *;

.btn {
	display: inline-block;
	padding: 0.5em 1.75em;
	font-family: var(--ff-secondary);
	font-weight: bold;
	font-size: var(--fs-button);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border-radius: 2em;
	@include btn-shadow();
	cursor: pointer;

	&-primary {
		background-color: hsl(var(--clr-primary-400));
		color: hsl(var(--clr-neutral-100));
		border: 1px solid hsl(var(--clr-primary-400));

		&:hover {
			color: hsl(var(--clr-primary-400));
			background-color: hsl(var(--clr-neutral-100));
			border: 1px solid hsl(var(--clr-primary-400));
		}

		&-inverted {
			color: hsl(var(--clr-primary-400));
			background-color: hsl(var(--clr-neutral-100));
			border: 1px solid hsl(var(--clr-primary-400));

			&:hover {
				background-color: hsl(var(--clr-primary-400));
				color: hsl(var(--clr-neutral-100));
				border: 1px solid hsl(var(--clr-primary-400));
			}
		}
	}

	&-secondary {
		background-color: hsl(var(--clr-secondary-400));
		color: hsl(var(--clr-neutral-100));
		border: 1px solid hsl(var(--clr-secondary-400));

		&:hover {
			color: hsl(var(--clr-secondary-400));
			background-color: hsl(var(--clr-neutral-100));
			border: 1px solid hsl(var(--clr-secondary-400));
		}

		&-inverted {
			color: hsl(var(--clr-secondary-400));
			background-color: hsl(var(--clr-neutral-100));
			border: 1px solid hsl(var(--clr-secondary-400));

			&:hover {
				background-color: hsl(var(--clr-secondary-400));
				color: hsl(var(--clr-neutral-100));
				border: 1px solid hsl(var(--clr-secondary-400));
			}
		}
	}


}
