@use '../abstracts/' as *;

.btn {
	display: inline-block;
	padding: 0.25em 1.5em;
	background-color: var(--clr-secondary-400);
	color: var(--clr-neutral-100);
	font-family: var(--ff-secondary);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border: 1px solid var(--clr-secondary-400);
	border-radius: 2em;
	@include btn-shadow();
	cursor: pointer;

	&:hover {
		color: var(--clr-secondary-400);
		background-color: transparent;
		border: 1px solid var(--clr-secondary-400);
	}
}
