@use '../abstracts/' as *;

.mobile-search-toggle {
	@include mq(tablet, max) {
		display: block;
		width: 2.6em;
		height: min-content;
		@include btn-reset();
	}
	.mobile-search-trigger {
		@include mq(tablet, max) {
			display: block;
			path {
				fill: var(--clr-neutral-100);
			}
		}
	}
}

.search-form {
	display: none;

	@include mq(tablet, max) {
		display: block;
		position: absolute;
		right: 0;
		top: 100%;
		width: clamp(14rem, 50vw, 20rem);
		transform: scale(1, 0);
		transform-origin: top;
		transition: transform 0.4s ease-in-out;
		font-family: var(--ff-secodary);
		background-color: transparent;

		.fieldset {
			display: block;
			position: relative;
			padding: 0;
			border: none;
			background: transparent;

			legend {
			}
			.label {
				display: block;

				&.search-label {
					.search-label-text {
					}

					.input {
						display: block;
						padding: 0.25rem 0.5rem;
						padding-right: 3.5em;
						height: 2.375rem;
						width: 100%;
						line-height: 2.375rem;
						border-radius: 1em;
						border: 1px solid var(--clr-neutral-300);
						&.seach-input {
						}
					}
				}
			}
			.submit-button {
				&.search-submit {
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					padding-right: 1em;
					border-top-right-radius: 1em;
					border-bottom-right-radius: 1em;
					border: none;
					background: transparent;

					.search-submit-image {
						display: block;
						width: 1.75rem;
						height: 1.75rem;
					}
				}
			}
		}
	}
}
