html {
	font-size: 62.5%;
}

body {
	display: block;
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 1.4;
	color: #444;
	background: #022c43;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
