*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: #607d8b;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.header {
	background-color: #8c8c8c;
	border-bottom: 3px solid #f7f7f7;
	color: white;
	width: 100%;
	text-align: center;
	padding: 3em 0;
	font-size: 1.4rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	padding: 2em 0;
	min-width: 80%;
}

.main-heading {
	font-size: 3em;
	color: #f7f7f7;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	min-width: 80%;
	margin-top: 4rem;
}

.option:hover svg path {
	stroke: #f7f7f7;
	stroke-width: 35;
}

.score {
	width: 80%;
	margin-top: 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 3em;
	background-color: #f7f7f7;
	color: #8c8c8c;
	padding: 1.5em 3em;
	border-radius: 1rem;
}

.player-score,
.computer-score {
	background-color: #8c8c8c;
	color: #f7f7f7;
	padding: 1em 2em;
	font-weight: 900;
	border-radius: 2rem;
}

.result {
	font-size: 5rem;
	color: #f7f7f7;
	position: fixed;
	width: 80vw;
	height: 60vh;
	background-color: #8c8c8c;
	display: grid;
	place-items: center;
}

.reset-game {
	margin-top: 2rem;
}
.btn {
	color: #f7f7f7;
	background-color: transparent;
	border: 2px solid #f7f7f7;
	padding: 1em 2em;
	border-radius: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover {
	color: #8c8c8c;
	background-color: #f7f7f7;
}

.hidden {
	display: none;
}
