@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");

// GENERAL STYLES

:root {
	--ff-montserrat: "Montserrat", sans-serif;
	--ff-oswald: "Oswald", sans-serif;

	--clr-primary: #3b4050;
	--clr-dark: #2e323f;
	--clr-heading: #a59678;
	--clr-neutral: #6f737f;
	--clr-white: #fff;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	width: 100%;
}

body {
	display: block;
	min-height: 100vh;
	font-family: var(--ff-montserrat);
	font-size: 1.8rem;
	text-rendering: optimizeSpeed;
}

img,
picture {
	max-width: 100%;
	display: block;
}

a {
	color: var(--clr-neutral);
	text-decoration: none;
	&:hover {
		color: var(--clr-heading);
	}
	&:active {
		color: var(--clr-white);
	}
}

svg {
	fill: currentColor;
}

a,
button {
	cursor: pointer;
}

.container {
	display: block;
	width: 80%;
	margin: 0 auto;
}
.row {
	display: flex;
	justify-content: space-between;
}
.heading {
	color: var(--clr-heading);
}
.button {
	padding: 0.5em 1em;
	background-color: var(--clr-heading);
	color: var(--clr-white);
	border-radius: 2em;
	&:hover {
		color: var(--clr-heading);
		background-color: var(--clr-white);
	}
	&:active {
		color: var(--clr-white);
		background-color: var(--clr-primary);
	}
}
.highlight {
	color: var(--clr-white);
}

// PAGE SECTION STYLES

.header {
	background: var(--clr-dark);
	.logo {
		&-picture {
		}
	}
	.main-nav {
		display: flex;
		.nav-list {
			display: flex;
			list-style: none;
			.nav-item {
				.nav-link {
					display: inline-block;
					color: var(--clr-white);
				}
			}
		}
	}
}

.main {
	.hero {
		.hero-heading {
		}
		.hero-content {
		}
		.hero-text {
		}
	}

	.strenghts {
		.strength-content {
			.strenght-heading {
			}
			.strength-text {
			}
		}
	}

	.main-content {
		.main-article {
			.article-heading {
			}
			.article-content {
				.article-text {
				}
				.article-iamge {
				}
			}

			.sidebar {
				.sidebar-content {
					.sidebar-heading {
					}
					.sidebar-text {
					}
				}
			}
		}
	}

	.footer {
		.footer-heading {
		}
		.footer-content {
			.footer-about {
				.footer-content-heading {
				}
				.footer-text {
				}
			}
			.footer-menu {
				.footer-menu-list {
					.footer-menu-item {
						.footer-menu-link {
						}
					}
				}
			}
		}
	}
}
