@use '../abstracts/' as *;

@include bg-with-low-op-overlay(
	'.hero',
	'../assets/images/background-pattern.png',
	var(--clr-accent-500),
	0.6
) {
	padding-block: var(--size-900);
}

.hero {
	& > * {
		display: grid;
		gap: var(--size-400);
		place-items: center;

		@include mq(mobile, min) {
			grid-template-columns: 3fr 4fr;
		}
	}

	&-content {
	}

	&-title {
	}
	&-subtitle {
	}
}

.hero-content {
	position: relative;
	text-align: center;
}
.superhero-kid {
	display: none;
	@include mq(mobile, min) {
		display: block;
	}
}

.fly-kid {
	animation-duration: 5s;
	animation-name: fly-around;
	animation-fill-mode: forwards;
}
