@use '../abstracts/' as *;

.hero {
	--clr-text-shadow: hsl(var(--clr-neutral-800));
	display: flex;
	align-items: center;
	background-image: url('../assets/images/webp/mobile-hero-background.webp');
	background-size: cover;
	background-position: top 20% left 40%;
	background-repeat: no-repeat;
	padding-block: var(--size-800);
	text-align: center;
	min-height: 85vh;

	@include mq(tablet, min) {
		background-image: url('../assets/images/webp/hero-background.webp');
		background-position: center center;

		text-align: left;
	}

	&-content {
		font-weight: var(--fw-bold);
	}

	&-title {
		color: hsl(var(--clr-tertiary-400));
		margin-bottom: var(--size-800);
		font-family: var(--ff-secondary);
		text-transform: uppercase;

		@include mq(tablet, min) {
			max-width: 30ch;
		}

		& span {
			display: block;
			font-size: var(--fs-600);
			@include hero-text-shadow(var(--clr-text-shadow));

			@include mq(mobile, min) {
				letter-spacing: 0.13em;
			}
			@include mq(tablet, min) {
				letter-spacing: normal;
			}

			&:first-of-type {
				font-size: var(--fs-600);
				letter-spacing: normal;

				@supports (-webkit-text-stroke: 2px hsl(var(--clr-tertiary-400))) {
					-webkit-text-fill-color: var(
						--clr-neutral-100
					); /* Will override color (regardless of order) */
					-webkit-text-stroke-width: 0.02em;
					-webkit-text-stroke-color: hsl(var(--clr-tertiary-400));
				}
			}
		}
	}

	&-subtitle {
		font-size: var(--fs-500);
		text-transform: uppercase;
		color: hsl(var(--clr-secondary-400));
		@include hero-text-shadow(var(--clr-text-shadow));
	}

	&-text {
		font-size: var(--fs-500);
		@supports (-webkit-text-stroke: 2px hsl(var(--clr-tertiary-400))) {
			-webkit-text-fill-color: hsl(var(
				--clr-neutral-100
			)); /* Will override color (regardless of order) */
			-webkit-text-stroke-width: 0.02em;
			-webkit-text-stroke-color: hsl(var(--clr-tertiary-400));
		}
		@include hero-text-shadow(var(--clr-text-shadow));
	}

	.btn {
		text-transform: capitalize;
	}

	&-contact-btn {
		margin-block: var(--size-500);
	}

	&-transparenta-button {
		margin-inline-start: var(--size-500);
	}
}

.contact-cta {
	padding-block: var(--size-600);
	background: url('../assets/images/white-texture.jpg') top center repeat;

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--size-400);
		width: 100%;
		font-size: var(--fs-500);
		text-align: center;

		.contact-cta-btn:hover {
			background-color: hsl(var(--clr-neutral-100));
		}

		
		@include mq(tablet, min){
			flex-direction: row;
			justify-content: space-between;
			font-weight: var(--fw-bold);
		}
		
		a {
			display: block;

			@include mq(mobile, min){
				display: inline-block;
			}
		}
	}
}

.noutati{
	&-list {
		.noutati-item {
			display: flex;
			flex-direction: column;
			gap: 1.5em;	
			
			figure{
				overflow: hidden;
				position: relative;
				

				img{
					transition: all 2s linear;	
				}
				figcaption{
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					inset: 0;
					width:100%;
					height:100%;
					opacity: 0;
					transition: all 1s linear;

					svg{
						width:4.5em;
						height:4.5em;

						path {
							fill:hsl(var(--clr-neutral-100));
							translateY: -50%;
							opacity: 0;
							transition: all .5s ease; 
						}

						&:hover path{
							fill: hsl(var(--clr-primary-100));
							animation: bounce 0.5s ease;
						}
					}
				}
			}

			&:hover {
				img{
					scale: 1.3;
					rotate: 10deg;
				}

				figcaption{
					opacity: 1;
					background-color: hsl(var(--clr-neutral-800) / .6);

					path{
						translateY:0;
						opacity:1;
					}
				}
			}

			.noutati-detalii {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				gap: 0.5em;

				.noutati-date {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: var(--size-100);
					padding: var(--size-200) var(--size-300);
					color:hsl(var(--clr-neutral-100));
					background-color: hsl(var(--clr-secondary-400));
					font-weight: var(--fw-bold);
					font-size: var(--fs-400);
					
				}
				.noutati-description {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					& > * {
						margin: 0;
					}
					.noutati-article-title {
						justify-content: flex-start;
						font-weight: var(--fw-bold);
						font-size: var(--fs-500);
					}
					.noutati-info {
						justify-content: flex-end;
						font-size: 0.8em;

						&-autor {
						}
						&-categorii {
						}
					}
				}
			}
		}
	}

}

.prezentare {
	display: grid;
	grid-template-rows: 1fr auto;
	background: url('../../../assets/images/webp/sky.webp') top left no-repeat;
	background-size: cover;
	padding-top: 1rem;
	padding-inline: 2rem;

	.prezentare-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include mq(tablet) {
			flex-direction: row;
		}

		.prezentare-image {
			// grid-column: 2/3;
		}
		.prezentare-columns {
			// grid-column: 3/4;
			display: flex;
			flex-direction: column;
			gap: 3rem;

			.prezentare-column {
				display: grid;
				grid-template-columns: 2fr 3fr;

				gap: 2em;

				&:nth-of-type(n + 1) > .prezentare-icon {
					color: hsl(var(--clr-primary-500));
					svg {
						fill: currentColor;
					}
				}
				&:nth-of-type(n + 2) > .prezentare-icon {
					color: hsl(var(--clr-secondary-400));
					svg {
						fill: currentColor;
					}
				}
				&:nth-of-type(n + 3) > .prezentare-icon {
					color: hsl(var(--clr-tertiary-400));
					svg {
						fill: currentColor;
					}
				}
				&:nth-of-type(n + 4) > .prezentare-icon {
					color: hsl(var(--clr-accent-400));
					svg {
						fill: currentColor;
					}
				}

				.prezentare-icon {
					display: grid;
					// place-items: center;
					justify-self: end;
					border-radius: 50%;
					padding: 1rem;
					align-self: center;
					justify-self: end;
					background-color: hsl(var(--clr-neutral-100));
					border: 2px solid currentColor;
					box-shadow: 0px 0px 0px 1rem hsl(0, 100%, 100%, 0.5);

					.prezentare-icon-image {
						width: 32px;
						height: 32px;
					}
				}
				.prezentare-description {
					max-width: 50ch;
					.prezentare-head {
					}
					.prezentare-text {
					}
				}
			}
		}
	}
}