*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.grid-container {
	display: grid;
	width: 640px;
	height: 640px;
	border: 2px solid black;
}

.cell {
	border: 1px solid black;
}
