* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  color: #000;
  padding-top: 1.6rem;
  max-height: 100vh;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

.hidden-text {
  display: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  width: 350px;
  height: 460px;
  overflow: hidden;
  top: 0;
  right: 0;
  margin-top: 64px;
  margin-right: 27px;
  transition: height 2s ease-in-out;
  max-height: calc(-70px + 100vh);
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.3);
  border-radius: 8px;
}

.modal__container {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  position: relative;
  width: 100%;
  overflow: scroll;
  padding: 10px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal__app-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 2.5rem;
  row-gap: 2rem;
  position: relative;
  list-style: none;
}

.modal__app-item {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  list-style-type: none;
}

.modal__app-link {
  vertical-align: top;
  padding: 8px;
  margin: 5px 0;
  text-align: center;
  border-radius: 8px;
  position: absolute;
  text-align: center;
}

.modal__app-link .modal__app-icon,
.modal__app-link .modal__app-title {
  display: inline-block;
}

.modal__app-link .modal__app-icon {
  width: 64px;
  height: 64px;
  background-image: url("./google-apps-icons.png");
  background-size: 64px 3100px;
}

.modal__app-link .modal__app-icon.account {
  background-position: 0 -2895px;
}

.modal__app-link .modal__app-icon.search {
  background-position: 0 -1790px;
}

.modal__app-link .modal__app-icon.business {
  background-image: url("./google-business.png");
  background-size: contain;
  background-position: 0 5px;
}

.modal__app-link .modal__app-icon.maps {
  background-position: 0 2615px;
}

.modal__app-link .modal__app-icon.youtube {
  background-position: 0 3575px;
}

.modal__app-link .modal__app-icon.youtube {
  background-position: 0 3575px;
}

.modal__app-link .modal__app-icon.news {
  background-position: 0px 4890px;
}

.modal__app-link .modal__app-icon.gmail {
  background-position: 0px 1100px;
}

.modal__app-link .modal__app-icon.meet {
  background-position: 0px 2410px;
}

.modal__app-link .modal__app-icon.chat {
  background-position: 0px -1655px;
}

.modal__app-link .modal__app-icon.contacts {
  background-position: 0 -2895px;
}

.modal__app-link .modal__app-icon.drive {
  background-position: 0 -2965px;
}

.modal__app-link .modal__app-icon.calendar {
  background-position: 0 -2550px;
}

.modal__app-link .modal__app-icon.translate {
  background-position: 0 -1930px;
}

.modal__app-link .modal__app-icon.photos {
  background-position: 0 -2830px;
}

.modal__app-link .modal__app-icon.duo {
  background-position: 0 -2480px;
}

.modal__app-link .modal__app-title {
  font-size: 14px;
  line-height: 18px;
  color: #202124;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75px;
}

.modal__app-link:hover {
  background-color: #e8f0fe;
  z-index: 1;
}

.modal__app-link:hover .modal__app-title {
  white-space: normal;
}

.google__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.google__top-left .google__list, .google__top-right .google__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.google__top-left .google__list .google__link, .google__top-right .google__list .google__link {
  display: inline-block;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

.google__top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 220px;
  padding: 0 30px;
}

.google__top-right .google__list {
  margin: 0;
  padding-right: 15px;
}

.google__top-right .google__list .google__link:not(:first-of-type) {
  padding-left: 15px;
}

.google__top-right .google__buttons {
  display: flex;
  align-items: center;
}

.google__top-right .google__buttons .google__service-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #000;
  cursor: pointer;
  opacity: 0.75;
}

.google__top-right .google__buttons .google__signin-button {
  display: inline-block;
  color: white;
  background: #3c7ae4;
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  padding: 0 1.2rem;
  font-weight: 700;
  line-height: 2.8rem;
  border-radius: 2px;
  border: 1px solid #4285f4;
  margin-left: 15px;
}

.google__top-right .google__buttons .google__profile {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.google__top-right .google__buttons .google__profile-icon {
  display: inline-block;
  background-image: url("./profile.png");
  background-size: contain;
  width: 100%;
  height: 100%;
}

.google__main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.google__main-container .google__main-logo {
  display: block;
  margin-top: 47px;
  width: 100%;
  text-align: center;
}

.google__main-container .google__main-logo img {
  padding-top: 109px;
  display: inline-block;
  width: 272px;
}

.google__main-container .google__search-buttons {
  margin-top: 18px;
}

.google__main-container .google__search-buttons .google__search-button {
  background: whitesmoke;
  background: linear-gradient(180deg, whitesmoke 0%, #f1f1f1 100%);
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.google__main-container .google__search-buttons .google__search-button:hover {
  background: #f8f8f8;
  background: linear-gradient(180deg, #f8f8f8 0%, #f1f1f1 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
  border: 1px solid #c6c6c6;
}

.google__form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px 20px;
  width: 582px;
}

.google__form-container:hover {
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.google__form-container .google__search-icon {
  display: inline-block;
  margin-right: 13px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.google__form-container input {
  background: transparent;
  border: none;
  display: flex;
  flex: 100%;
  outline: none;
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}

.google__form-container .google__speach-area {
  display: inline-block;
  cursor: pointer;
  margin: 0 8px;
  width: 24px;
  height: 24px;
}

.google__form-container .google__speach-area .google__mic-icon {
  background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
  background-size: 24px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.google__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

.google__footer * {
  display: flex;
}

.google__footer .google__footer-left {
  margin-left: 30px;
}

.google__footer .google__footer-right {
  margin-right: 30px;
}

.google__footer .google__footer-list {
  list-style: none;
}

.google__footer .google__footer-list .google__footer-item:not(:first-child) {
  margin-left: 27px;
}

.google__footer .google__footer-list .google__footer-link {
  color: #5f6368;
}
/*# sourceMappingURL=styles.css.map */