@keyframes gelatine {
	from, to { transform: scale(1, 1); }
	25% { transform: scale(0.9, 1.1); }
	50% { transform: scale(1.1, 0.9); }
	75% { transform: scale(0.95, 1.05); }
  }

  @keyframes bounce {
    0% { transform:translateY(0%); }
    25% { transform:translateY(-3.5%); }
    50% { transform:translateY(0%); }
    75% { transform:translateY(-1.5%); }
    100% { transform:translateY(0); }
}
