$colors: (
	primary: (
		100: 199 100% 80%,
		200: 199 100% 70%,
		300: 199 100% 60%,
		400: 199 100% 50%,
		500: 199 100% 30%,
	),
	secondary: (
		100: 48 100% 80%,
		200: 48 100% 70%,
		300: 48 100% 60%,
		400: 48 100% 50%,
		500: 48 100% 30%,
	),
	tertiary: (
		100: 19 100% 80%,
		200: 19 100% 70%,
		300: 19 100% 60%,
		400: 19 100% 50%,
		500: 19 100% 30%,
	),
	accent: (
		100: 75 100% 80%,
		200: 75 100% 70%,
		300: 75 100% 60%,
		400: 75 100% 50%,
		500: 75 100% 30%,
	),
	forth: (
		100: 317 55% 80%,
		200: 317 55% 70%,
		300: 317 55% 60%,
		400: 317 55% 50%,
		500: 317 55% 30%,
	),
	fifth: (
		100: 184 44% 80%,
		200: 184 44% 70%,
		300: 184 44% 60%,
		400: 184 44% 50%,
		500: 184 44% 30%,
	),
	neutral: (
		100: 0 0% 100%,
		200: 0 0% 87%,
		300: 0 0% 80%,
		600: 0 0% 40%,
		700: 0 0% 30%,
		800: 0 0% 15%,
		900: 0 0% 5%,
	),
);
