@use 'breakpoints';

@mixin btn-reset {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0.5em;
}

@mixin mq($key, $min-max: 'min') {
	$size: map-get(breakpoints.$breakpoints, $key);

	@media only screen and (#{$min-max}-width: $size) {
		@content;
	}
}

@mixin shadow {
	box-shadow: 0 0.25em 0.25em hsla(0, 0%, 0%, 0.3);
}

@mixin btn-shadow() {
	box-shadow: 0 0.25em 0.25em hsla(0, 0%, 0%, 0.3);

	&:hover {
		box-shadow: 0 0.333em 0.333em hsla(0, 0%, 0%, 0.3);
	}
	&:active {
		box-shadow: inset 0 0.1em 0.1em hsla(0, 0%, 0%, 0.3);
	}
}



@mixin hero-text-shadow($color) {
	text-shadow: 3px 3px 0 $color, -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color,
		1px 1px 0 $color;
}

@mixin bg-with-low-op-overlay($element, $bg-url, $color, $opacity: 0.5) {
	#{$element} {
		position: relative;
		background: url($bg-url);
		background-position: center;
		isolation: isolate;
		@content;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: $color;
			z-index: -1;
			opacity: $opacity;
		}
	}
}
