$type-scale: (
	mobile: (
		100: 0.422rem,
		200: 0.563rem,
		300: 0.75rem,
		400: 1rem,
		500: 1.333rem,
		600: 1.777rem,
		700: 2.369rem,
		800: 3.157rem,
		900: 4.209rem,
	),
	laptop: (
		100: 0.236rem,
		200: 0.382em,
		300: 0.618rem,
		400: 1rem,
		500: 1.618rem,
		600: 2.618rem,
		700: 4.236rem,
		800: 6.854rem,
		900: 11.089rem,
	),
);
